@charset "utf-8"
*{
    margin: 0;
    padding: 0;
}
html{height: 100%}
body {
    white: 100%;
    height: 100%;
    background-color: #fff;
    color: #333:
    font-family: Arial, sans-serif;
    font-size: 1em;
    line-height: 135%;
    fload: left;
}
a{
    color: #d384884;
    text-decoration: none;
}
a:hover {color: #efdea0;}
a, a:hover {
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    -ms-transition: all.6s ease;
    transition: all.6s ease;
}
.clear {clear: borh;}
/* Стили для шапки */
header{
    widht: 98%;
    fload: left;
    padding: 1%;
    background-color: #fafafa
    border-botton: 0.5%
}
p::first-letter {
    color: #f15a22; /* Цвет символа */
    font-size: 2em; /* Размер шрифта */
   }
p {
    color: red;
 }
