
* {
    margin: 0;
    padding: 0;
    outline: none;
 }
html{height: 100%;}


a{
    color: #59c523;
    text-decoration: none;
 }
a:hover {color: #55ff00;}
a, a:hover {
    -webkit-transition: all.6s ease;
    -moz-transition: all.6s ease;
    -o-transition: all.6s ease;
    -ms-transition: all.6s ease;
    transition: all.6s ease;
 }
.clear {
    clear: borh;
}
/* Стили для шапки */

@media(max-width:  720px){
body {
    white: 100%;
    height: 100%;
    background-color: #fff;
    color: #333;
    font-size: 0.3em;
    line-height: 135%;
    fload: left;
}
header{
    widht: 95%;
    fload: left;
    margin-top: 0.5%;
    padding: 4.5%;
    background-color: #fafafa;
    border-bottom: 2px solid silver; 

 }
header #logo {
    fload:left;
    color: #59c523;
    font-size:0.2em;

}
header #logo a{
    width: 25%;
    float: left;
 }
header #game {
    width: 25%;
    float: left;
 }
header #document {
    width: 30%;
    float: left;  
 }
header #textbook{
    width: 20%;
    float: left; 
    text-line: rignt; 
}
#bykwaz{
    color: red;
    font-size: 0.5em;
}}
@media(min-width:  651px){
body {
    white: 100%;
    height: 100%;
    background-color: #fff;
    color: #333;
    font-size: 1em;
    line-height: 135%;
    fload: left;
}
header{
    widht: 96.6%;
    fload: left;
    margin-top: 1%;
    padding: 2.4%;
    background-color: #fafafa;
    border-bottom: 2px solid silver; 

 }
header #logo {
    fload:left;
    color: #59c523;
    font-size:1.5em;

}
header #logo a{
    width: 25%;
    float: left;
 }
header #game {
    width: 20%;
    float: left;
 }
header #document {
    width: 35%;
    float: left;  
 }
header #project{
    width: 20%;
    float: left; 
    text-line: rignt; 
}
#bykwaz{
    color: red;
    font-size: 1.7em;
}}
#logo, #game, #document, #project {
    font-family: 'Arthur Gothic';
}
#gotika { font-family: 'Arthur Gothic';}
